<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>
    
    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">
            <img 
                style="width: 30px; height: 30px;"
                src="/trash-can.svg" 
                alt="delete-icon"
            >
        </a>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const trashCan = document.querySelector('a.delete');

        trashCan.addEventListener('click', (e) => {

            const endPoint = `/blogs/${trashCan.dataset.doc}`;
            // console.log(endPoint);

            fetch(endPoint, { method: 'DELETE' })
                .then((res) => {
                    return res.json();
                })
                .then((data) => {
                    return window.location.href = data.redirect;
                })
                .catch((err) => {
                    console.log(err);
                })
        });

    </script>

</body>
</html>